Repository gofiber/storage, pull requests merged in 2022-01, with the labels that each got.

#297 fix gosec ristretto
  .github/workflows/security.yml
Labels: ☢️ Bug

#261 ✨ enhancement(redis): add TLSConfig
  .github/workflows/test-redis.yml
  redis/README.md
  redis/config.go
  redis/redis.go
  redis/redis_test.go
  redis/tests/gen-test-certs.sh
  redis/tests/tls/ca.crt
  redis/tests/tls/ca.key
  redis/tests/tls/ca.txt
  redis/tests/tls/client.crt
  redis/tests/tls/client.key
  redis/tests/tls/openssl.cnf
  redis/tests/tls/redis.crt
  redis/tests/tls/redis.dh
  redis/tests/tls/redis.key
  redis/tests/tls/server.crt
  redis/tests/tls/server.key
Labels: ✏️ Feature

#272 fix(github/workflows/security): install gosec fails with package embed is not in GOROOT
  .github/workflows/security.yml
  arangodb/go.mod
  arangodb/go.sum
  badger/go.mod
  badger/go.sum
  go.mod
  memcache/go.mod
  memcache/go.sum
  mongodb/go.mod
  mongodb/go.sum
  redis/go.mod
  redis/go.sum
  ristretto/go.mod
  ristretto/go.sum
  sqlite3/go.mod
  sqlite3/go.sum
Labels: ☢️ Bug

#310 Public sqlite db options: MaxOpenConns, MaxIdleConns, ConnMaxLifetime.
  sqlite3/README.md
  sqlite3/config.go
  sqlite3/sqlite3.go
Labels: 🧹 Updates

#311 Replace github.com/mattn/go-sqlite3 v2.0.3 by v1.14.10.
  sqlite3/go.mod
  sqlite3/go.sum
Labels: 🤖 Dependencies
