Repository gofiber/storage, pull requests merged in 2023-07, with the labels that each got.

#841 Add new storage implementation: Couchbase
  .github/dependabot.yml
  .github/release-drafter-couchbase.yml
  .github/workflows/gosec.yml
  .github/workflows/release-drafter-couchbase.yml
  .github/workflows/security.yml
  .github/workflows/test-couchbase.yml
  README.md
  couchbase/README.md
  couchbase/config.go
  couchbase/couchbase.go
  couchbase/couchbase_test.go
  couchbase/go.mod
  couchbase/go.sum
Labels: ♻ Wait for Response, ✏️ Feature

#879 README.md updated for Etcd label
  README.md
Labels: 📒 Documentation

#880 :memo: docs: automated synchronization with `gofiber/docs`
  .github/logo-dark.svg
  .github/logo.svg
  .github/scripts/sync_docs.sh
  .github/workflows/sync-docs.yml
  MIGRATE.md
  README.md
  arangodb/README.md
  azureblob/README.md
  badger/README.md
  bbolt/README.md
  couchbase/README.md
  dynamodb/README.md
  etcd/README.md
  memcache/README.md
  memory/README.md
  mongodb/README.md
  mssql/README.md
  mysql/README.md
  pebble/README.md
  postgres/README.md
  redis/README.md
  ristretto/README.md
  s3/README.md
  sqlite3/README.md
Labels: 📒 Documentation

#881 update
  README.md
Labels: 🧹 Updates

#882 Rename test.yml to test-memory.yml
  .github/workflows/test-memory.yml
Labels: 🧹 Updates

#883 Memory shield
  .github/workflows/test-memory.yml
  README.md
Labels: 📒 Documentation
