Repository gofiber/storage, pull requests merged in 2023-08, with the labels that each got.

#920 Add Oracle Coherence storage driver
  .github/dependabot.yml
  .github/release-drafter-coherence.yml
  .github/workflows/gosec.yml
  .github/workflows/release-drafter-coherence.yml
  .github/workflows/test-coherence.yml
  README.md
  coherence/README.md
  coherence/coherence.go
  coherence/coherence_test.go
  coherence/go.mod
  coherence/go.sum
Labels: ✏️ Feature

#945 Minor README formatting
  coherence/README.md
Labels: 📒 Documentation

#946 Additional Oracle Coherence storage doc updates
  coherence/README.md
Labels: 📒 Documentation

#947 Correct job name in release-drafter-coherence.yml
  .github/workflows/release-drafter-coherence.yml
Labels: 🧹 Updates

#931 Add support for rueidis storage driver
  .github/dependabot.yml
  .github/release-drafter-rueidis.yml
  .github/scripts/gen-test-certs.sh
  .github/workflows/gosec.yml
  .github/workflows/release-drafter-rueidis.yml
  .github/workflows/test-rueidis.yml
  README.md
  rueidis/README.md
  rueidis/config.go
  rueidis/go.mod
  rueidis/go.sum
  rueidis/rueidis.go
  rueidis/rueidis_test.go
Labels: ✏️ Feature

#948 Correct module name in coherence store, minor README update
  coherence/README.md
  coherence/go.mod
Labels: 📒 Documentation, 🧹 Updates
