Repository gofiber/storage, pull requests merged in 2023-09, with the labels that each got.

#962 New Storage Driver: Minio
  .github/dependabot.yml
  .github/release-drafter-minio.yml
  .github/workflows/gosec.yml
  .github/workflows/release-drafter-minio.yml
  .github/workflows/test-minio.yml
  README.md
  minio/README.md
  minio/config.go
  minio/go.mod
  minio/go.sum
  minio/minio.go
  minio/minio_test.go
Labels: ✏️ Feature

#978 s3: New methods: CreateBucket, DeleteBucket, SetWithChecksum.
  .github/workflows/test-s3.yml
  s3/README.md
  s3/init_test.go
  s3/s3.go
  s3/s3_methods.go
  s3/s3_methods_test.go
  s3/s3_test.go
Labels: ✏️ Feature

#979 Fix incorrect default timeout value for Coherence storage driver
  coherence/coherence.go
Labels: ☢️ Bug

#980 Minio README
  minio/README.md
Labels: 📒 Documentation

#982 Support for using options.TLSConfig if returned by redis.ParseURL()
  .github/scripts/gen-test-certs.sh
  .github/workflows/test-redis.yml
  redis/redis.go
  redis/redis_test.go
  redis/tests/gen-test-certs.sh
  redis/tests/tls/ca.crt
  redis/tests/tls/ca.key
  redis/tests/tls/ca.txt
  redis/tests/tls/client.crt
  redis/tests/tls/client.key
  redis/tests/tls/openssl.cnf
  redis/tests/tls/redis.crt
  redis/tests/tls/redis.dh
  redis/tests/tls/redis.key
  redis/tests/tls/server.crt
  redis/tests/tls/server.key
Labels: ☢️ Bug

#983 Add support for ParseURL to rueidis driver
  rueidis/README.md
  rueidis/config.go
  rueidis/rueidis.go
  rueidis/rueidis_test.go
Labels: ✏️ Feature

#991 Clean up and fix minor issues with default handling
  coherence/coherence.go
Labels: ☢️ Bug

#993 Increase default CacheTTL for Rueidis Driver
  rueidis/README.md
  rueidis/config.go
Labels: 🧹 Updates

#992 Add benchmarks for storage drivers
  .github/workflows/benchmark.yml
  .github/workflows/test-redis.yml
  .github/workflows/test-rueidis.yml
  .github/workflows/test-s3.yml
  arangodb/arangodb_test.go
  azureblob/azureblob_test.go
  badger/badger_test.go
  bbolt/bbolt_test.go
  bbolt/utils.go
  coherence/coherence_test.go
  coherence/go.mod
  coherence/go.sum
  couchbase/couchbase_test.go
  dynamodb/dynamodb_test.go
  etcd/etcd_test.go
  memcache/memcache_test.go
  memory/memory_test.go
  minio/minio_test.go
  mongodb/mongodb_test.go
  mssql/mssql_test.go
  mysql/mysql_test.go
  pebble/pebble_test.go
  postgres/postgres_test.go
  redis/redis_test.go
  ristretto/ristretto_test.go
  rueidis/rueidis_test.go
  s3/init_test.go
  s3/s3_test.go
  sqlite3/sqlite3_test.go
Labels: ✏️ Feature
