Repository gofiber/storage, pull requests merged in 2025-03, with the labels that each got.

#1565 🔥 feat: Add LevelDB driver
  .github/workflows/test-leveldb.yml
  README.md
  leveldb/README.md
  leveldb/config.go
  leveldb/config_test.go
  leveldb/go.mod
  leveldb/go.sum
  leveldb/leveldb.go
  leveldb/leveldb_test.go
Labels: ✏️ Feature

#1573 fix: Use existing PostgreSQL table if it exists
  .gitignore
  postgres/postgres.go
  postgres/postgres_test.go
Labels: ☢️ Bug

#1515 chore: adopt testcontainers-go for Postgres, MySQL and MongoDB
  .github/workflows/benchmark.yml
  .github/workflows/test-clickhouse.yml
  .github/workflows/test-couchbase.yml
  .github/workflows/test-minio.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-postgres.yml
  clickhouse/clickhouse_test.go
  clickhouse/go.mod
  clickhouse/go.sum
  couchbase/couchbase_test.go
  couchbase/go.mod
  couchbase/go.sum
  minio/go.mod
  minio/go.sum
  minio/minio_test.go
  mongodb/go.mod
  mongodb/go.sum
  mongodb/mongodb_test.go
  mysql/go.mod
  mysql/go.sum
  mysql/mysql_test.go
  neo4j/neo4j_test.go
  postgres/go.mod
  postgres/go.sum
  postgres/postgres_test.go
  s3/go.mod
  s3/go.sum
  s3/init_test.go
Labels: ✏️ Feature

#1574 feat: add testcontainers-go tests to DynamoDB and NATS
  .github/workflows/benchmark.yml
  .github/workflows/test-dynamodb.yml
  .github/workflows/test-nats.yml
  dynamodb/dynamodb_test.go
  dynamodb/go.mod
  dynamodb/go.sum
  nats/go.mod
  nats/go.sum
  nats/nats_test.go
  nats/testdata/nats-tls.conf
Labels: ✏️ Feature

#1630 chore(ci): use same pattern to detect changed modules in the lint stage
  .github/workflows/golangci-lint.yml
Labels: github_actions
