Repository gofiber/storage, pull requests merged in 2025-05, with the labels that each got.

#1724 feat(coherence|memcached): use testcontainers-go in tests
  .github/workflows/benchmark.yml
  .github/workflows/test-coherence.yml
  .github/workflows/test-memcache.yml
  coherence/coherence.go
  coherence/coherence_test.go
  coherence/go.mod
  coherence/go.sum
  memcache/go.mod
  memcache/go.sum
  memcache/memcache_test.go
Labels: ✏️ Feature

#1733 🧹 chore: Update coherence storage to v2.2.0
  coherence/go.mod
  coherence/go.sum
Labels: 🧹 Updates

#1734 fix(coherence): set coherence log level to ERROR in benchmarks
  .github/workflows/benchmark.yml
Labels: ☢️ Bug
