Repository gofiber/storage, pull requests merged in 2025-01, with the labels that each got.

#1538 🔥 Feature: Add valkey driver
  .github/release-drafter-valkey.yml
  .github/scripts/gen-test-certs.sh
  .github/workflows/release-drafter-valkey.yml
  .github/workflows/test-valkey.yml
  README.md
  valkey/README.md
  valkey/config.go
  valkey/go.mod
  valkey/go.sum
  valkey/valkey.go
  valkey/valkey_test.go
Labels: ✏️ Feature

#1543 ♻️refactor(s3): WithEndpointResolver is deprecated
  dynamodb/dynamodb.go
  s3/s3.go
Labels: 🧹 Updates

#1552 fix(minio): close object after GetObject has returned
  minio/minio.go
Labels: ☢️ Bug

#1555 bump pkg´s
  .github/workflows/golangci-lint.yml
  go.mod
  rueidis/go.mod
  rueidis/go.sum
  rueidis/rueidis.go
  valkey/go.mod
  valkey/go.sum
  valkey/valkey.go
Labels: 🤖 Dependencies, 🧹 Updates
