Repository gofiber/storage, pull requests merged in 2025-04, with the labels that each got.

#1639 feat(azurite): use testcontainers-go for testing azurite
  .github/workflows/benchmark.yml
  .github/workflows/test-azureblob.yml
  .github/workflows/test-clickhouse.yml
  .github/workflows/test-couchbase.yml
  .github/workflows/test-dynamodb.yml
  .github/workflows/test-minio.yml
  .github/workflows/test-mongodb.yml
  .github/workflows/test-mysql.yml
  .github/workflows/test-nats.yml
  .github/workflows/test-postgres.yml
  .github/workflows/test-s3.yml
  azureblob/azureblob_test.go
  azureblob/go.mod
  azureblob/go.sum
Labels: ✏️ Feature

#1663 feat: Add Aerospike driver
  .github/workflows/benchmark.yml
  .github/workflows/test-aerospike.yml
  README.md
  aerospike/README.md
  aerospike/aerospike.go
  aerospike/aerospike_test.go
  aerospike/config.go
  aerospike/go.mod
  aerospike/go.sum
Labels: ✏️ Feature

#1662 chore(benchmarks): use each module's Go version
  .github/workflows/benchmark.yml
Labels: go

#1640 feat(scylladb): use testcontainers-go for testing scylladb
  .github/workflows/benchmark.yml
  .github/workflows/test-minio.yml
  .github/workflows/test-s3.yml
  .github/workflows/test-scylladb.yml
  minio/minio_test.go
  s3/init_test.go
  scylladb/README.md
  scylladb/config.go
  scylladb/go.mod
  scylladb/go.sum
  scylladb/scylladb.go
  scylladb/scylladb_test.go
Labels: ✏️ Feature

#1672 chore(testing): use require in tests
  aerospike/aerospike_test.go
  azureblob/azureblob_test.go
  clickhouse/clickhouse_test.go
  couchbase/couchbase_test.go
  dynamodb/dynamodb_test.go
  minio/minio.go
  minio/minio_test.go
  mongodb/mongodb_test.go
  mysql/mysql_test.go
  nats/nats_test.go
  neo4j/neo4j_test.go
  postgres/postgres_test.go
  s3/init_test.go
  s3/s3_methods_test.go
  s3/s3_test.go
  scylladb/scylladb_test.go
Labels: 🧹 Updates

#1665 feat: Add Apache Cassandra Storage Driver
  .github/workflows/benchmark.yml
  .github/workflows/test-cassandra.yml
  README.md
  cassandra/README.md
  cassandra/cassandra.go
  cassandra/cassandra_test.go
  cassandra/config.go
  cassandra/go.mod
  cassandra/go.sum
Labels: ✏️ Feature

#1680 Add NewFromConnection method for Redis
  .github/workflows/test-redis.yml
  redis/README.md
  redis/redis.go
  redis/redis_test.go
Labels: ✏️ Feature

#1705 chore(nats): use testcontainers-go recent APIs
  nats/nats_test.go
Labels: 🧹 Updates
